/* app css stylesheet */

/* Global css */

body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

ul{
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background: #3a4d5d; 
}
 
::-webkit-scrollbar-thumb {
    background: #53a29e;
}

h1 {
    font-size: 52px;
}

.navbar {
    margin-top: 20px;
}

.navbar-img {
    margin-right: 36px;
}

.navbar-nav li a img {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 36px;
}

.navbar-nav .navbar-img a span {
    margin-right: 20px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  color: #fff;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li a {
    color: #fff;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/* Login page css */

nav {
    width: 100%;
    height: auto
}

nav h2 {
    font-size: 22px;
    margin: 0 0 0 20px;
    font-weight: 400;
    padding-top: 20px;
}

.login-page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-image: url(../images/BudgeFriendBackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page h2 {
    color: #fff;
}

.login-item-container {
    margin: 0 auto;
    width: 360px;
    background: #232d3b;
    border-radius: 5px;
    -webkit-box-shadow: 0px 11px 5px -9px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 11px 5px -9px rgba(0,0,0,0.41);
    box-shadow: 0px 11px 5px -9px rgba(0,0,0,0.41);
}

#login-wrap {
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
}

#login-wrap h1 {
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0 0 20px 0;
    color: #fff;
}

.login-wrap--items {
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.login-wrap--items p {
    text-transform: uppercase;
    font-weight: bold;
    color: #3a4d5d;
    padding: 20px 0 10px 0;
}

.login-wrap--items span {
    text-transform: uppercase;
    font-weight: bold;
    color: #3a4d5d;
    display: block;
    padding: 15px;
}

.login-wrap--items i {
    font-size: 55px;
    width: 100%;
    color: #161c26;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.login-wrap--items .fa-facebook-official {
    color: #305da7;
    opacity: 0.3;
}

.login-wrap--items .fa-google-plus-square {
    color: #db4437;
    opacity: 0.3;
}

.login-wrap--items #register {
    font-weight: 400;
    font-size: 14px;
    margin: 25px 0 0 0;
    display: block;
    cursor: pointer;
}

.login-wrap--items #register-wrap {
    width: 40%;
    margin: 15px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.login-wrap--items #register-wrap input[type="text"] {
    width: 285px;
    height: 55px;
    border-radius: 20px;
    border: 1px solid #fff;
    margin: 15px 0 0 0;
    background: none;
    color: #fff;
    padding: 0 10px 0 10px;
}

input[type="text"]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #fff;
    padding: 0 10px 0 10px;
}

.login-header {
    width: 100%;
    background: #53a29e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login-header h1 {
    font-size: 25px;
    font-weight: normal;
    line-height: 60px;
}

.login-wrap--items .login-btn {
    width: 100%;
    height: 80px;
    border: none;
    background: #202936;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.login-btn:hover {
    background: #1c232e;
}

.login-btn:hover .fa-facebook-official, .fa-google-plus-square {
    opacity: 1;
}
.login-btn:hover .fa-google-plus-square {
    opacity: 1;
}


/* Profile page */


#profile-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    background-image: url(../images/BudgeFriendBackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-sidebar {
    position: relative;
    width: 30%;
    height: 100%;
    float: left;
    z-index: 2;
}

.profile-navbar {
    width: 100%;
    height: 70%;
    background: #232d3b;
}

.profile-navbar .logout-btn {
    width: 100%;
    height: 90px;
    font-size: 17px;
    text-transform: uppercase;
    background-color: rgba(204, 51, 51, 0.2);
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 20px 0 0 0;
    letter-spacing: 1px;
}

.logout-btn:hover {
    background-color: rgba(204, 51, 51, 0.9);
}

.profile-btn {
    width: 100%;
    height: 90px;
    text-transform: uppercase;
    background: #202936;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 20px 0 0 0;
    font-size: 17px;
    letter-spacing: 1px;
}

.profile-btn:hover {
    background: #1c232e;
}

.profile-btn i, .logout-btn i {
    padding-right: 15px;
}


.profile-sidebar .navbar {
    width: 100%;
    height: 30%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: #53a29e;
    color: #fff;
    text-align: center;
}

.profile-sidebar .navbar img {
    width: 110px;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
    display: block;
}

.profile-sidebar .navbar span {
    margin-top: 20px;
    display: block;
    font-size: 18px;
}

.budget-display { 
    position: absolute;
    width: 70%;
    height: 82%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.05);
    overflow-y: auto;
}

.remaining-budget-bar {
    width: 70%;
    height: 18%;
    background-color: rgba(255, 255, 255, 0.12);
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
}

.remaining-budget-bar p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 1px;
    font-size: 25px;
    padding: 0 0 0 80px;
}

.remaining-budget-bar p span {
    font-size: 90px;
    color: #00b18f;
}

form {
    width: 500px;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 20px 0 30px 0;
}

form h2 {
    font-weight: 600;
    margin: 0 auto;
    padding: 0 0 10px 0;
    font-size: 50px;
}

form .add-budget {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #00b18f;
    margin: 30px 0 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btntest {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff !important;
    background-color: rgba(204, 51, 51, 1);
    margin: 10px 0 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btntest:hover {
    background-color: rgba(204, 51, 51, 0.5);
}

.add-budget:hover {
    background: #048a71;
}

form input[type="number"] {
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: #232d3b;
    padding: 0 5px 0 5px;
    margin: 30px 0 0 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

form input[type="number"]:focus {
    outline: none;
    background: #1c232e;
}


form input[type="text"] {
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: #232d3b;
    padding: 0 5px 0 5px;
    margin: 30px 0 0 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

form input[type="text"]:focus {
    outline: none;
    background: #1c232e;
}

.btntest{
    color: black;
}





