<section class="login-page clearfix">
    <nav>
        <h2>BudgetFriend</h2>
    </nav>

    <div id="login-wrap" ng-controller="AuthController">
        
        <div class="login-item-container">
            
            <div class="login-header">
                <h1>Sign In</h1>
            </div>
            
            <div class="login-wrap--items">
                <p>Connect to BudgetFriend with</p>
                <button id="facebook" ng-click="login('facebook')" class="login-btn"><i class="fa fa-facebook-official"></i></button>
                <span>OR</span>
                <button id="google" ng-click="login('google')" class="login-btn"><i class="fa fa-google-plus-square"></i></button>
            </div>
            
        </div>
    
    </div>
    
</section>

<!--<p ng-repeat="fish in event.fishes">{{fish.name}}</p>-->



